
/* Bookmarking */

.main--Bookmarking{
    background-color: var(--light);
    padding: 2rem;
    border-radius: 0.5rem;
}

.bookmark-Header{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text--bokmark{
    padding: 1rem;
    display: flex;
    text-align: center;
    font-family: Far_Nazanin;
    font-weight: 600;
      
}

.text--bokmark::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width:100%;
    height: 1px;
    background-color: var(--dark);
    z-index: 1;
}
.bookmark-list , .bookmark-list2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.4rem;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.bookmark-list .palette{
    border-radius: 0.5rem;
    position: relative;
    width: 60px;
    height: min(3.5rem,4rem);
}

.bookmark-list2 .palette{
    border-radius: 0.5rem;
    position: relative;
    width: min(18rem,19rem);
    height: min(18rem,19rem);
}

.bookmark-list .remove--BookMark{
    position: absolute;
    top: 0;
    left: 2px;
    z-index: 1;
    width: 4px;
    height: 14%;
}
.bookmark-list2 .remove--BookMark{
    position: absolute;
    top: 0;
    left: 2px;
    z-index: 1;
    width: 25px;
    height: 16%;
}
 
.bookmark-list .recipe-Link , .bookmark-list2 .recipe-Link{
    position: relative;
    width: 100%;
    height: 100%;
}

.recipe-Link .recipe-Place{
    position: relative;
    width: 100%;
    height: 25%;
}

@media (max-width:768px) and (pointer:fine) {
    .palette .remove--BookMark{
        position: absolute;
        top: 0;
        left: 2px;
        z-index: 1;
        width: 40px;
        height: 20%;
    }
    .item{
        width: 100%;
    }
    .bookmark-list2 .palette{
        border-radius: 0.5rem;
        position: relative;
        width:100%;
      
    }
}

@media (max-width:768px) and (pointer:coarse) {
    .item{
        width: 100%;
    }
    .bookmark-list2 .palette{
        border-radius: 0.5rem;
        position: relative;
        width:100%;
        height: min(14rem,15rem);
    }
    .palette .remove--BookMark{
        position: absolute;
        top: 0;
        left: 2px;
        z-index: 1;
        width: 45px;
        height: 20%;
    }
    .text--bokmark{
        font-size: 2.4rem;
    }
}
